@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --blue:hsl(246, 80%, 60%);
    --color-work:hsl(15, 100%, 70%);
    --color-play: hsl(195, 74%, 62%);
    --color-study: hsl(348, 100%, 68%);
    --color-exercise: hsl(145, 58%, 55%);
    --color-social: hsl(264, 64%, 52%);
    --color-self-care: hsl(43, 84%, 65%);
    --dark-blue1: hsl(226, 43%, 10%);
    --dark-blue2: hsl(235, 46%, 20%);
    --ligh-blue1: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-height: 100vh;
    max-width: 80rem;
    font-family: 'Rubik', sans-serif;
    margin-inline: auto;
    background-color: var(--dark-blue1);
    color:white;
    gap:20px;
}
a{
    text-decoration: none;
    color:inherit;
}
ul li{
    list-style: none;
}
button{
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    font-size:1.1rem;
    cursor: pointer;
    transition: all 1s;
}
main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap:20px;
    padding-inline:2rem;
}
.tracker__left{
    background-color: var(--dark-blue2);
    border-radius:15px;
    flex:0.7;
    max-width: 300px;
    width: 100%;
    position: sticky;
    top:0;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.profile,
.tracker__left__options{
    border-radius: 15px;
}
.profile{
    background-color: var(--blue);
    padding: 2rem 2rem 4rem;
}
.profile .profileImage{
    width:80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
    object-fit: contain;
}

.profile{
    display: flex;
    flex-direction: column;
    gap:2.4rem;
}
.profile .profile__info p{
    color:var(--PaleBlue);
}
.profile .profile__info h1{
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 0.2px;
    line-height: 1.3;
}
.tracker__left__options{
    padding:2rem 2rem 2rem;
    color:var(--ligh-blue1);
}

.tracker__left__options ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:1rem;
}
.option.active{
    color:white;
    font-weight: 500;
}
.tracker__left__options button:hover,
.tracker__left__options button:active{
    color:var(--PaleBlue);
}
.tracker__right{
    flex:1;
    width:100%;
}
.tracker__activities{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(15rem,1fr));
    gap:20px;
}
.activity{ 
    width:100%;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    transition: opacity 0.9s ;
}   
.activity:hover{
   opacity:0.8;
}

.activity__bg{
    height:85px;
    border-radius: 15px 15px 0 0 ;
    position: relative;
    z-index: -1;
    overflow: hidden;
    transition: transform 0.9s ;
}
.activity__bg > img{
    object-fit: contain;
    position: absolute;
    right: 1rem;
}
.activity:hover .activity__bg > img{
    transform: rotate(10deg);
}
.activity__info{
    padding:2rem;
    background-color: var(--dark-blue2);
    border-radius: 15px;
    margin-top: -2rem;
    z-index: 10;
}
.activity__info__header{
    display: flex;
    justify-content: space-between;
}
.activity__info__header img{
    width:20px;
    height: 20px;
    object-fit: contain;
}
.activity__info__header h2{
    font-size: 1rem;
    letter-spacing: 1.3px;
    font-weight: 500;
}
.activity__info > h3{
    font-size: 3rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom:1rem;
}
.activity__info > p{
    font-size: 1rem;
    color:var(--ligh-blue1);
    font-weight: 400;
}
footer{
    text-align: center;
}
.work > .activity__bg{
    background-color: var(--color-work);
}
.play > .activity__bg{
    background-color: var(--color-play);
}
.study > .activity__bg{
    background-color: var(--color-study);
}
.exercise > .activity__bg{
    background-color: var(--color-exercise);
}
.social > .activity__bg{
    background-color: var(--color-social);
}
.self-care > .activity__bg{
    background-color: var(--color-self-care);
}

@media(max-width:600px){
    main{
        flex-direction: column;
        padding-inline:1rem;
    }
    .tracker__left{
        position: relative;
        max-width:100%;
    }
    .tracker__left__options ul {
       flex-direction: row;
    }
    .tracker__left__options li:not(:first-child){
        margin-top:0 ;
    }
    .profile{
        padding: 2rem 1rem 2rem;
    }
    .profile{
        flex-direction: row;
        gap:1rem;
        align-items: center;
    }
    .profile .profile__info h1{
        font-size: 1.8rem;
    }
}